<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dibomart.dibomart">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_white"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_white"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity android:name=".ReturnDetailsActivity"></activity>
        <activity android:name=".ReturnHistoryActivity" />
        <activity android:name=".ReturnDetailActivity" />
        <activity android:name=".OrderDetailActivity" />
        <activity android:name=".ReturnActivity" />
        <activity android:name=".EditProfileActivity" />
        <activity android:name=".AllCategories" />
        <activity android:name=".OrderSuccessActivity" />
        <activity
            android:name=".OrderConfirmActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".ShippingMethod" />
        <activity android:name=".AddAdress" />
        <activity
            android:name=".SearchActivity"
            android:windowSoftInputMode="stateAlwaysVisible" />
        <activity android:name=".ProductDetailsActivity" />
        <activity android:name=".MyTransactionActivity" />
        <activity android:name=".MyOrdersActivity" />
        <activity android:name=".ContactUsActivity" />
        <activity android:name=".WebViewActivity" />
        <activity android:name=".PaymentWebViewActivity" />
        <activity android:name=".AddressActivity" />
        <activity android:name=".CartActivity" />
        <activity
            android:name=".ProductListActivity"
            android:label="@string/title_activity_product_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".PincodeActivity" />
        <activity android:name=".SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MobileVerifyActivity" />
        <activity android:name=".DemoActivity" />
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
    </application>

</manifest>